* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

header {
    background-color: rgb(207, 54, 207);
    height: 50px;
    width: 800px;
    margin: auto;

}

main {
    background-color: rgba(255, 255, 0, 0.486);
    padding: 100px;
    width: 800px;
    margin: auto;

}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.top_side {
    height: 50px;
    border-color: blue;
}

.left_side {
    float: left;
    width: 25%;
    height: 300px;
    border: 5px solid blue;
    border-left: 0;
}

.central_side {
    float: left;
    width: 50%;
    border: 5px solid blue;
    height: 300px;
}

.right_side {
    width: 25%;
    height: 300px;
    float: left;
    border: 5px solid blue;
    border-right: 0;
}

.bottom_side {
    width: 100%;
    float: left;
    height: 50px;
    border: 5px solid blue;
    border-left: 0;
    border-right: 0;
}

.container {
    width: 800px;
    margin: auto;
    background-color: aqua;
}

footer {
    width: 800px;
    height: 50px;
    background-color: purple;
    padding: 30px;
    margin: auto;
}



